cache/
/env/
/.venv/
/.vscode/
__pycache__/
*_cache/
node_modules/
src/pymfcad/site/node_modules/
/*.glb
/*.prof
/settings.json
/*_demo/
/_visualization/
/tmp*/
/dist/
src/pymfcad/site/dist/
src/pymfcad/site/docs/
.coverage
htmlcov/
diff2html-identifiers.js